<div class="card mb-3" style="max-width: 700px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      {{#if user.image}}
      <img class="card-img-top" src="{{user.image}}"  width="286px" height="180px">
      {{else}}
      <img class="card-img-top" src="https://imgs.gotrip.hk/wp-content/uploads/2017/11/blank-profile-picture-973460_960_720_2583405935a02dfab699c6.png"  
      width="286px" height="180px">
      {{/if}}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user.name}}</h5>
        <p class="card-text">{{user.email}}</p>
        <p class="card-text">{{result.length}}已評論餐廳</p>
        <p class="card-text">{{user.FavoritedRestaurants.length}}收藏的餐廳</p>
        <p class="card-text">{{user.Followings.length}}followings(追蹤者)</p>
        <p class="card-text">{{user.Followers.length}}followers(追隨者)</p>
          {{#ifCond user.id user.id}}
          <a class="btn btn-primary" href="/users/{{user.id}}/edit">
            Edit
          </a>
          {{/ifCond}}
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        {{user.Followings.length}}followings(追蹤者)
      </div>
      <div class="card-body row">
      {{#each user.Followings}}
      <div class="col-2">
        <a href="/users/{{this.id}}">
        <img class="card-img-top" src="{{this.image}}" style="width: 6rem">
        </a>
      </div>
      {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        {{result.length}}已評論餐廳
      </div>
      <div class="card-body row">
        {{#each result}}
          <div class="col-2">
            <a href="/restaurants/{{RestaurantId}}">
            <img class="card-img-top" src="{{Restaurant.dataValues.image}}" style="width: 6rem">
            </a>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
<br/>
<br/>
<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        {{user.Followers.length}}followers(追隨者)
      </div>
      <div class="card-body row">
        {{#each user.Followers}}
        <div class="col-2">
          <a href="/users/{{this.id}}">
          <img class="card-img-top" src="{{this.image}}" style="width: 6rem">
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        {{user.FavoritedRestaurants.length}}收藏的餐廳
      </div>
      <div class="card-body row">
        {{#each user.FavoritedRestaurants}}
        <div class="col-2">
          <a href="/restaurants/{{this.id}}">
          <img class="card-img-top" src="{{this.image}}" style="width: 6rem">
          </a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>