<div class="card mb-3" style="max-width: 700px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      {{#if users.image}}
      <img class="card-img-top" src="{{users.image}}"  width="286px" height="180px">
      {{else}}
      <img class="card-img-top" src="https://imgs.gotrip.hk/wp-content/uploads/2017/11/blank-profile-picture-973460_960_720_2583405935a02dfab699c6.png"  
      width="286px" height="180px">
      {{/if}}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{users.name}}</h5>
        <p class="card-text">{{users.email}}</p>
        <button type="button" class="btn btn-dark">
          {{#ifCond user.id users.id}}
          <a href="/users/{{user.id}}/edit">
            Edit
          </a>
          {{/ifCond}}
        </button>
      </div>
    </div>
  </div>
</div>